.App {
  font-family: sans-serif;
  text-align: center;
}

.trigger {
  margin-left: 10px;
  font-size: 1.2rem;
}

#icon {
  color: white;
}

.input-name {
  width: 10rem;
  margin-top: 0.5rem;
}

.insert-name-button {
  margin-left: 0.5rem;
}
